$color_theme: #009900;
$color_text: #333;
$color_bg_gray: #dddddd;
$color_bg: #cccccc;
$color_gray: #999999;

html, body, .container, .main-wrapper, .main-left-col, .main-right-col {
  height: 100%;
  background-color: $color_bg;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-wrapper {
  position: relative;
}
.main-left-col {
  padding-bottom: 20px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display:none;
  }
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}
.main-right-col {
  border: 1px $color_theme solid;
  overflow-y: scroll;
  margin-left: 200px;
  padding: 20px;
  background-color: white;
}

.left-nav {
  padding: 0;
  li {
    list-style-type: none;
    a,
    a:hover,
    a:link,
    a:active,
    a:visited {
      text-decoration: none;
      color: $color_text;
      display: block;
    }
    &:hover {
      background-color: $color_bg_gray;
    }
    &.active {
      background-color: white;
      margin-right: -1px;
      border: 1px $color_theme solid;
      border-left-width: 2px;
      border-right-color: $color_bg;
      z-index: 10;
    }
    .edit {
      input {
        display: block;
        width: 100%;
      }
    }
    a,
    .edit input {
      box-sizing: content-box;
      padding: 5px 10px;
      height: 20px;
      line-height: 20px;
    }
  }
}

.ctxmenu {
  display: block;
  position: absolute;
  width: 100px;
  border: 1px $color_gray solid;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.5);
  .ctxmenu-item {
    padding: 2px 5px;
    line-height: 16px;
    cursor: default;
    user-select: none;
    background-color: $color_bg_gray;
    &:hover {
      background-color: white;
    }
  }
  z-index: 500;
}