{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Score{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <div class="main-wrapper">
      <div class="main-left-col" id="nav">
        <ul class="left-nav">
          <li v-for="item in navitems" role="presentation" v-bind:class="{'active': item.active}">
            <a href="javascript:;" @click="navto(item)" v-on:contextmenu="support.ctxmenu(item.menu, $event)" v-text="item.title"></a>
          </li>
        </ul>
      </div>
      <div class="main-right-col">
        <div id="pspage">
          <div v-if="show">
            <div>Hello</div>
          </div>
        </div>
      </div>
    </div>
    <div id="support">
      <div class="ctxmenu" v-show="show_ctxmenu">
        <div v-for="mitem in ctxmenuitems" class="ctxmenu-item" @click="onCtxMenuClick(mitem)" v-text="mitem.title"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>
</html>