{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Score{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <div class="main-wrapper">
      <div class="main-left-col" id="nav">
        <ul class="left-nav">
          <li v-for="item in navitems" role="presentation" v-bind:class="{'active': item.active}">
            <a href="javascript:;" @click="navto(item)" v-on:contextmenu="support.ctxmenu(item.menu, $event)" v-text="item.title"></a>
          </li>
        </ul>
      </div>
      <div class="main-right-col">
        <div id="homepage">
          <div v-if="show">
            <table class="common-table">
              <tr>
                <th><input type="checkbox" v-model="all_checked" v-on:change="onAllChecked()"></th>
                <th>学号</th>
                <th>姓名</th>
                <th>操作</th>
              </tr>
              <tr v-for="st in students">
                <td><input type="checkbox" v-model="st.checked"></td>
                <!-- 显示界面 -->
                <td v-if="!st.editing" v-text="st.no"></td>
                <td v-if="!st.editing" v-text="st.name"></td>
                <td v-if="!st.editing">
                  <a href="javascript:;" @click="editStudent(st)">编辑</a>
                  <a href="javascript:;" @click="deleteStudent(st)">删除</a>
                </td>
                <!-- 编辑界面 -->
                <td v-if="st.editing"><input v-model="st.edit.no"></td>
                <td v-if="st.editing"><input v-model="st.edit.name"></td>
                <td v-if="st.editing">
                  <a href="javascript:;" @click="editStudentComplete(st)">完成</a>
                  <a href="javascript:;" @click="editStudentCancel(st)">取消</a>
                </td>
              </tr>
              <tr v-if="is_adding">
                <td><input v-model="st_new.no"></td>
                <td><input v-model="st_new.name"></td>
                <td>
                  <a href="javascript:;" @click="addStudentComplete()">完成</a>
                  <a href="javascript:;" @click="addStudentCancel()">取消</a>
                </td>
              </tr>
              <tr v-if="!is_adding">
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <a href="javascript:;" @click="addStudent()">添加</a>
                  <a href="javascript:;" @click="addStudentBatch()">批量添加</a>
                  <a href="javascript:;" @click="deleteStudentBatch()">批量删除</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div id="pspage">
          <div v-if="show">
            <div>Hello</div>
          </div>
        </div>
      </div>
    </div>
    <div id="support">
      <div class="ctxmenu" v-show="show_ctxmenu">
        <div v-for="mitem in ctxmenuitems" class="ctxmenu-item" @click="onCtxMenuClick(mitem)" v-text="mitem.title"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>
</html>